.hidden {
  display: none;
  
}

body{
    background: #bba694;
}

#result{
  margin: 10px;
  padding: 10px;
  background: #9b7239;
  display:flexbox;
  width: 50%;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: solid black 1px;
}

.subtitle{
  font-weight: bold;
  font-style: italic;
}

.subtitle span{
  font-weight: normal;
  font-style: normal;
  color: #e2e2d6;
  margin: 0px 10px 0px 70px;
  position: relative;
  float: right;
}

#total-amount{
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: 0.1rem;
}